*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(one.jpg);
    background-position: center;
}
.container{
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0 ,0,.2);
}
.container a{
    color: #fff;
    font-size: 70%;
    margin-right: 8%;
    padding-right: 10%;
    
}
.container a:hover{
    text-decoration: underline;
}