.container{
    background-color: #030303;
    margin:100px;
    padding:30px;
    border-radius: 10px;
   
   }

    h1{
        color:#e69808;
    }

   label{
    display:block;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#e69808;
    padding-top: 10px;
    padding-right: 100px;
   }

   .txt{
    width:50%;
    background-color:#746f72;
    font-size: 15pt;
    border-radius: 20px;
    padding-right: 570px;
   }

   .btn{
    height: 30px;
    width: 100px;
    background-color: #e69808;
    color:black;
    margin-top: 10px;
    border-radius: 20px;
   }
   .msg{
    background-color: #030303;
    margin:100px;
    padding:30px;
    border-radius: 10px;
   }.container{
    background-color:#336699;
    margin-top:50px;
    margin-left:200px;
    margin-right:200px;
 
 
    padding:20px;
    border-radius: 10px;
}

.msg {
    background-color:#336699;
    margin-top:50px;
    margin-left:200px;
    margin-right:200px;
 
 
    padding:20px;
    border-radius: 10px;




}
label{
    display:block;
    font-size:14pt; 
    font-family:'Segoe UI', 'Tahoma';
    color:black;

}
.text{
 width:100%;
 height: 30px;
 background-color:#d9d9d9;
 font-size:14pt;
 border-radius: 10px;
}
.btn{

 height: 30px;
 width: 300px;
 background-color:#d9d9d9;
 color:black;
 margin-top: 10px;
 border-radius: 10px;

}
h1{
    color:white;
    text-align: center;
    
}